@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Parks Directory!</h1>
    <h2>Find, add, and review your few favorite national and state parks here.</h2>
</div>
